/*#region COLORS*/
$back-d0: #000000;
$back-d1: #101317;
$back-d2: #1b2026;
$back-d3: #2d3640;
$back-d4: #414e5d;

$text-d0: #788487;
$text-d1: #a8b8bd;
$text-d2: #daecf1;
$text-d3: #ffffff;

$danger: #f74856;
$success: #13b05c;

$borderRadius:5px;